body
{
  background-color:#11242D;
  color: #aaaaaa;
}

#olist, #ulist
{
  width: 25%;
  background-color: #00131c;
}

li:hover
{
  color: #888888;
  cursor: pointer;
}

li::
{
  content: "\21d2 WoW: ";
  font-weight: bold;
}

header
{
  background-color: teal;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  height: 15%;
}

ol > li
{
  color: #800103;
}

input[name = "name"]
{
  background-color: magenta;
}
